# Dir navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias ~='cd ~'
alias ll='ls -lF'
alias la='ls -lFA'
alias l='ls -CF'
alias cl='clear'
alias fuck='sudo !!'
alias screenshotwsleep='sleep 5; import -window root ~/screenshot.png'
alias startserver='python -m SimpleHTTPServer'

### Software - curses ###
alias files='ranger'
alias pdf='zathura'
alias music='ncmpcpp'
alias mail='mutt'
alias network='wicd-curses'
alias chat='irssi'
alias im='finch'
alias twitter='turses'

# Processing and Netlogo
alias processing='/usr/share/processing/processing &'
alias netlogo='sh /usr/share/netlogo/netlogo.sh &'


#alias curl=aug-curl
# Utilities
#alias a="ack -ia"
alias d="du -h -d=1"
#alias df="df -h"
alias g="git"
alias grep='GREP_COLOR="1;37;45" LANG=C grep --color=auto'
alias h="history"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""
alias ip="curl -s http://checkip.dyndns.com/ | sed 's/[^0-9\.]//g'"

#software
alias sub="sublime-text-2"
